
<p>From: <a href="<%= user_url @from %>"><%= @from.name %></a></p>
<p>Regarding post: <a href="<%= post_url @post %>"><%= @post.title
                                                         %></a></p>

<p style="text-decoration: underline; margin-top: 20px;">Message:</p>

<p><%= @message %></p>
