<% provide :title, @user.name %>
<div class="row">
  <%= render 'shared/avatar' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
    <h3><%= t :user_posts_show %> (<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
    <% end %>
  </div>
  
</div>


