
<%= form_for @post do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.label :content_type %>
  <%= f.select(:content_type,
      [['Project', 1], ['Free resources', 2]],
      class: 'form-control') %>
</div>
<div>
  <%= f.label :channel %>
  <%= f.select(:channel, [['Tax advisor', 1]],
      class: 'form-control') %>
</div>
<div>
  <%= f.label :billing_type, "Publishing option" %>
  <%= f.select(:billing_type, [['Free', 1]],
      class: 'form-control') %>
</div>

<div class="field">
  <%= f.text_area :title, placeholder: "Title" %>
</div>
<div class="field">
  <%= f.text_field :scope_hours, placeholder: "Scope in hours" %>
</div>
<div class="field">
  <%= f.text_area :remarks, placeholder: "Remarks" %>
</div>
<div class="field">
  <%= f.text_area :scope_of_work, placeholder: "Scope of work" %>
</div>
<div class="field">
  <%= f.text_area(:scope_of_experience,
      placeholder: "Scope of experience") %>
</div>
<div class="field">
  <%= f.date_field :start_date, placeholder: "Assignment start date" %>
</div>
<div class="field">
  <%= f.date_field :end_date, placeholder: "Assignment end date" %>
</div>
<div class="field">
  <%= f.text_field :hourly_payment, placeholder: "Hourly payment" %>
  <%= f.select(:currency, [['EUR', 1]]) %>
</div>
<div class="checkbox">
  <%= f.label :anonymous do %>
  <%= f.check_box :anonymous %>
  Anonymous post
  <% end %>
</div>


<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
