
<%= form_for @post, html: { multipart: true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.label :content_type %>
  <%= f.select(:content_type,
      [[t(:post_form_request_help), 1], [t(:post_form_offer_help), 2]],
      class: 'form-control') %>
</div>
<div>
  <%= f.label :channel %>
  <%= f.select(:channel, [[t(:post_form_tax_advisor), 1]],
      class: 'form-control') %>
</div>
<div>
  <%= f.label :billing_type %>
  <%= f.select(:billing_type, [[t(:post_form_free), 1]],
      class: 'form-control') %>
</div>

<div class="field">
  <%= f.text_area :title, placeholder: Post.human_attribute_name("title") %>
</div>
<div class="field">
  <%= f.text_field :scope_hours, placeholder: Post.human_attribute_name("scope_hours") %>
</div>
<div class="field">
  <%= f.text_area :remarks, placeholder: Post.human_attribute_name("remarks") %>
</div>
<div class="field">
  <%= f.text_area :scope_of_work, placeholder: Post.human_attribute_name("scope_of_work") %>
</div>
<div class="field">
  <%= f.text_area(:scope_of_experience,
      placeholder: Post.human_attribute_name("scope_of_experience")) %>
</div>
<div class="field">
  <%= f.date_field :start_date, placeholder: Post.human_attribute_name("start_date") %>
</div>
<div class="field">
  <%= f.date_field :end_date, placeholder: Post.human_attribute_name("end_date") %>
</div>
<div class="field">
  <%= f.text_field :hourly_payment, placeholder: Post.human_attribute_name("hourly_payment") %>
</div>
<div class="field">
  <%= f.label :currency %>
  <%= f.select(:currency, [['EUR', 1]]) %>
</div>
<div class="checkbox">
  <%= f.label :anonymous do %>
  <%= f.check_box :anonymous %>
  <%= Post.human_attribute_name("anonymous") %>
  <% end %>
</div>
<div>
  <%= f.label :address_id, Post.human_attribute_name("address_id") %>
  <%= f.collection_select(:address_id, Address.where("user_id = ?", session[:user_id]), :id, :contact_person) %>
</div>


<%= f.submit t(:post_form_submit), class: "btn btn-primary" %>

<span class="picture">
  <%= f.label :picture %>
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %>
</span>
<span class="document">
  <%= f.label :document %>
  <%= f.file_field :document, accept: 'application/pdf' %>
</span>

<% end %>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
  alert(<%= t :post_form_file_size_error %>);
  }
  });

  $('#post_document').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
  alert(<%= t :post_form_file_size_error %>);
  }
  });
  
</script>
