
<li id="address-<%= address.id %>">
  <%= link_to gravatar_for(address.user, size: 50), address.user %>
  <span class="address">
    <%= link_to address.user.name, address.user %>
  </span>
  <span class="title">
    <%= t :address_list_contact_person %>: <%= address.contact_person
    %>,&nbsp;<%= t :address_list_contact_email %>: &nbsp;<%= address.email %>
  </span>
  <span class="timestamp">
    <%= t :address_list_created, date: time_ago_in_words(address.created_at) %>
    <%= link_to t(:address_list_link_delete), address, method: :delete,
        data: { confirm: t(:address_list_link_data) } %>
  </span>
  
</li>
