
<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50),
      post.user %>
  <span class="user"><%= link_to post.user.name,
                         post.user %></span>
  <span class="title">
    <%= post.title %>
    <% if post.content_type == 1 %>
    (Project)
    <% elsif post.content_type == 2 %>
    (Free resources)
    <% end %>
  </span>
  <span class="title"><%= post.start_date.to_s :long %> -
  <%= post.end_date.to_s :long %></span>
  <span class="title">Hourly payment: <%= post.hourly_payment / 100 %> EUR</span>
  <span class="timestamp">
    Posted <%= time_ago_in_words post.created_at %> ago.
    <% if current_user? post.user %>
    <%= link_to("delete", post, method: :delete,
        data: { confirm: "You sure?" }) %>
    <% end %>
  </span>
</li>
